
/**
----------- Media Query for small devices
*/
@media screen and (max-width: 520px) {

    .home-slider, .home-item {
      height: 400px !important;
    }
    .s-title {
      padding: 10px 10px;
    }
    .s-title-header {
      font-size: 32px;
    }
    .s-title-content {
      padding: 10px 25px;
    }
    .s-title-content p {
      line-height: 27px;
    }
    .pt-subscribe-location, .pt-subscribe-time {
      display: flex;
      padding: 35px 0 !important;
      border-bottom: 1px solid #ed951278;
    }
    .tiger-subscribe-contact {
      padding: 35px 0 !important;
      border-bottom: 1px solid #ed951278;
    }
    section {
      padding: 40px 0;
    }
    .last-card {
      margin-top: 0px;
    }
    #topbar {
      display: none !important;
    }
    /**
    product detail page
    */
    section.product-header {
        height: 170px;
    }
    .product-title {
        font-size: 36px;
    }
    .product-list {
        width: 100%;
    }

}